<%- include("partials/header"); -%>

    <div style="width: 90%; height: 100%;">
        <h1>About Us</h1>
        <!--<img src="https://en.wikipedia.org/wiki/Maharaja_Sayajirao_University_of_Baroda#/media/File:Msu_baroda_logo.png"
            width="100px" height="100px" alt="msulogo" />-->
        <h4>Check the Offical website for Futher details of each Faculty:
            <a href="www.msubaroda.ac.in">www.msubaroda.ac.in</a>
        </h4>
        <p style="font-family:monospace;">
            Sayajirao was born at Kavlana on 10th March 1863 as Shrimant Gopalrao Gaekwad, second son of Meherban
            Shrimant
            Kashirao Bhikajirao Dada Sahib Gaekwad and Ummabai. He was selected by the British Government as successor
            to
            Maharaja Malharrao Gaekwad and was accordingly adopted by Maharani Jamnabai on 27th May 1875. He ascended
            the
            gadi (throne) at Baroda on 16th June 1875, but being a minor, reigned under a Council of Regency until he
            came
            of age and was invested with full ruling powers on 28th December 1881. During his minority he was
            extensively
            tutored in administrative skills by Raja Sir T. Madhava Rao who groomed his young protege into being a ruler
            with foresight and with a will to provide welfare to his people. In this period Sir T. Madhava Rao restored
            the
            State to its normal conditions from the chaos in which it was left by the predecessor of Sayajirao. Not a
            little
            credit for what the Maharaja achieved during his life in every sphere of human activity must be given to F.
            A.
            H. Elliot. The learning which Sayajirao acquired under Mr. Eliot's able guidance made him a great statesman,
            educator, and ruler. It is acknowledged that the Maharaja Sayajirao was a prince among the educators and an
            educator among the princes. He had to undergo such a heavy course of studies that it would have made many a
            student hate them. But it made him realize his shortcomings and strengthened his determination to acquire
            more
            knowledge.
        </p>
        <img src="https://msubaroda.ac.in/asset/storage/CkEditor/Sayajirao_Gaekwad_III,_Maharaja_of_Baroda,_1919.jpg"
            height="300px" alt="Sayajirao_Gaekwad_III img" />
    </div>
    <%- include("partials/footer"); -%>