<%- include("partials/header"); -%>
    <h1 style="text-align:center;">Contact Us</h1>
    <div class="mk-page-section-wrapper" data-mk-full-width="true" data-mk-full-width-init="true"
        data-mk-stretch-content="true">

        <div class="page-section-content vc_row-fluid mk-grid " style="user-select: auto;">
            <div class="mk-padding-wrapper wpb_row" style="user-select: auto;">
                <div class="vc_col-sm-12 wpb_column column_container  jupiter-donut- _ jupiter-donut-height-full"
                    style="user-select: auto;">

                    <div id="padding-3" class="mk-padding-divider jupiter-donut-  jupiter-donut-clearfix"
                        style="user-select: auto;"></div>


                    <h2 id="fancy-title-4" class="mk-fancy-title  simple-style jupiter-donut-  color-single"
                        style="user-select: auto;">
                        <span style="user-select: auto;">
                            <p style="user-select: auto;">Get in Touch</p>
                        </span>
                    </h2>
                    <div class="clearboth" style="user-select: auto;"></div>

                    <div class="wpb_row vc_inner vc_row vc_row-fluid jupiter-donut-   attched-false   "
                        style="user-select: auto;">
                        <div class="mk-box-icon-2-icon size-48" style="user-select: auto;"> <svg class="mk-svg-icon"
                                data-name="mk-moon-location-3" data-cacheid="icon-6370c10497859"
                                style="height: 48px; width: 48px; user-select: auto;" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512">
                                <path
                                    d="M256 480c-88.366 0-160-71.634-160-160 0-160 160-352 160-352s160 192 160 352c0 88.366-71.635 160-160 160zm0-258c-54.124 0-98 43.876-98 98s43.876 98 98 98 98-43.876 98-98-43.876-98-98-98zm-62 98a62 62 1260 1 0 124 0 62 62 1260 1 0-124 0z"
                                    transform="scale(1 -1) translate(0 -480)" style="user-select: auto;"></path>
                            </svg> </div>
                        <h3 class="mk-box-icon-2-title" style="user-select: auto;">Address<br>
                            Head Office Address
                            The M. S. University of Baroda, Pratapgunj,
                            Vadodara, Gujarat-390002</h3>
                    </div>
                    <div id="padding-6" class="mk-padding-divider jupiter-donut-visible-sm  jupiter-donut-clearfix"
                        style="user-select: auto;"></div>



                    <div class="mk-box-icon-2-icon size-48" style="user-select: auto;"> <svg class="mk-svg-icon"
                            data-name="mk-moon-phone-4" data-cacheid="icon-6370c10497bbd"
                            style="height: 48px; width: 48px; user-select: auto;" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path
                                d="M321.788 371.146c-11.188 6.236-20.175 2.064-32.764-4.572-11.46-8.748-45.402-35.438-81.226-71.188-26.156-33.084-46.162-64.288-55.375-79.293-.625-1.66-.944-2.632-.944-2.632-5.397-13.476-8.771-22.92-1.324-33.521 6.854-9.727 9.5-12.383 18.24-20.108l-87.79-130.124c-10.604 7.728-27.018 25.106-40.509 44.378-12.538 18.317-23.154 38.587-26.049 53.055 15.295 55.117 52.258 157.896 120.583 231.325l-.021.308c65.73 81.028 170.165 131.43 225.571 153.226 14.679-1.385 35.938-9.844 55.456-20.404 20.598-11.415 39.567-25.945 48.329-35.685l-120.288-100.829c-8.597 7.91-11.498 10.254-21.889 16.064zm-116.178-242.488c7.241-5.302 5.313-14.944 1.926-20.245l-66.579-101.913c-4.344-5.291-13.396-8.064-21.252-5.579l-27.433 18.381 88.034 129.879 25.304-20.523zm287.339 269.188l-94.473-76.788c-4.93-3.918-14.313-6.838-20.325-.188l-23.046 23.05 120.047 101.015 21.136-25.357c3.285-7.564 1.467-16.857-3.339-21.732z"
                                style="user-select: auto;"></path>
                        </svg> </div>
                    <h3 class="mk-box-icon-2-title" style="user-select: auto;">Phone<br>+91-265-2795555</h3>
                    <div id="padding-8" class="mk-padding-divider jupiter-donut-visible-sm  jupiter-donut-clearfix"
                        style="user-select: auto;"></div>



                    <div class="mk-box-icon-2-icon size-48" style="user-select: auto;"> <svg class="mk-svg-icon"
                            data-name="mk-moon-bubble-dots" data-cacheid="icon-6370c10497ea8"
                            style="height: 48px; width: 48px; user-select: auto;" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512">
                            <path
                                d="M418 32h-324c-51.7 0-94 42.3-94 94v354l96-96h322c51.7 0 94-42.3 94-94v-164c0-51.7-42.3-94-94-94zm-258 224c-17.673 0-32-14.327-32-32s14.327-32 32-32 32 14.327 32 32-14.327 32-32 32zm96 0c-17.673 0-32-14.327-32-32s14.327-32 32-32 32 14.327 32 32-14.327 32-32 32zm96 0c-17.673 0-32-14.327-32-32s14.327-32 32-32 32 14.327 32 32-14.327 32-32 32z"
                                style="user-select: auto;"></path>
                        </svg> </div>
                    <h3 class="mk-box-icon-2-title" style="user-select: auto;">Email<br><a>info@msubaroda.ac.in
                        </a></h3>
                    <div id="padding-10" class="mk-padding-divider jupiter-donut-visible-sm  jupiter-donut-clearfix"
                        style="user-select: auto;"></div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include("partials/footer"); -%>